<h1>All People</h1>
<table class="table table-striped">
  <thead class="thead-dark">
    <th>Name</th>
    <th>Gender</th>
    <th>Starships</th>
    <th>Homeworld Class</th>
    <th>Species</th>
  </thead>
  <tbody>
    <tr *ngFor="let person of people">
      <td>{{ person.name }}</td>
      <td>{{ person.gender }}</td>
      <td>{{ person.starships }}</td>
      <td>{{ person.homeworld }}</td>
      <td>{{ person.species }}</td>
    </tr>
  </tbody>
</table>