<h1>All Starships</h1>
<table class="table table-striped">
  <thead class="thead-dark">
    <th>Name</th>
    <th>Model</th>
    <th>Hyperdrive Rating</th>
    <th>Starship Class</th>
  </thead>
  <tbody>
    <tr *ngFor="let starship of starships">
      <td>{{ starship.name }}</td>
      <td>{{ starship.model }}</td>
      <td>{{ starship.hyperdrive_rating }}</td>
      <td>{{ starship.starship_class }}</td>
    </tr>
  </tbody>
</table>