<div>
    <select (change)="getSelection($event)">
        <option value="Starships">Starships</option>
        <option value="People">People</option>
        <option value="Films">Films</option>
    </select>
</div>
<div *ngIf="starship_selected">
    <app-startships-table></app-startships-table>
</div>
<div *ngIf="people_selected">
    <app-people-table></app-people-table>
</div>
<div *ngIf="films_selected">
    <app-films-table></app-films-table>
</div>
