<h1>All Films</h1>
<table class="table table-striped">
  <thead class="thead-dark">
    <th>Title</th>
    <th>Director</th>
    <th>Producer</th>
  </thead>
  <tbody>
    <tr *ngFor="let film of films">
      <td>{{ film.title }}</td>
      <td>{{ film.director }}</td>
      <td>{{ film.producer }}</td>
    </tr>
  </tbody>
</table>

